body {
  background-color: grey; 
}

h1 {
    font-size: 3em;
    font-family: Arial;
    text-align: center;
    font-weight: bold;
}

h4 {
    font-size: 2em;
    font-family: Arial;
    text-align: center;
}

img {
    height: 400px;
    width: 200px;
}

img.interests {
    height: 400px;
    width: 200px;
}

.placeholder {
    display: inline-block;
}

td, th {
    font-family: Arial;
    text-align: center;
    padding: 10px 20px 5px 20px;
}

th {  
    font-size: 20px;
}

td {
    text-transform: uppercase;
    
}

table.center {
	margin-left: auto;
	margin-right: auto;
}